<section>
  <div>
    <h1>{{ date }}</h1>
    <h2 mat-dialog-title>{{ data.weekDay }} às {{ data.timeSlot }}h</h2>
  </div>
  <mat-dialog-content class="content">
    <p><mat-icon>code</mat-icon>{{ id }}</p>
    <p><mat-icon>person</mat-icon>{{ name }}</p>
    <p><mat-icon>phone</mat-icon>{{ phone }}</p>
    <p><mat-icon>design_services</mat-icon>{{ service }}</p>
  </mat-dialog-content>
  <mat-dialog-actions class="buttons">
    <button mat-button [disabled]="deleteIsDisabled(id)" color="warn"><mat-icon>delete</mat-icon>Excluír</button>
    <button mat-raised-button [disabled]="deleteIsDisabled(id)" color="primary">
      <mat-icon>edit</mat-icon>Editar
    </button>
  </mat-dialog-actions>
</section>
