@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tilt+Neon&family=Waterfall&display=swap");

$font-family: 'Tilt Neon', sans-serif;
$font-caligraphy: 'Waterfall', sans-serif;
$first-color: #ffc9d0;
$second-color: #e07281;
$dark-color: #331d20;
$aside-width: 20vw;
$border-radius: 40px;
