header {
    position: absolute;
    padding: 0.5em;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../assets/Login.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: auto;
  width: 100%;

  .container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1em;
    width: 90%;
    height: fit-content;
    padding: 0 2em;
    padding-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    div {
      width: 100%;
    }
  }
}
