<header>
  <button mat-raised-button routerLink="/" color="accent">Início</button>
</header>
<main>
  <section>
    <div class="title">
      <!-- <img src="../../../assets/Logotype.svg" alt="Tainá Lima Nail Designer" /> -->
      <h1>Agenda da Semana</h1>
      <button mat-icon-button aria-label="Editar Semana" color="accent">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="weekdays">
      <ul class="weekday-column" *ngFor="let weekday of weekdays">
        <li>
          <h2>{{ weekday }}</h2>
          <ul class="time-column">
            <li class="time-slot" *ngFor="let slot of saturdaySlots">
              <button
                mat-raised-button
                [matMenuTriggerFor]="menu"
                [color]="slotIsAvailable(slot, weekday)"
                [style.color]="slotFontColor(slotIsAvailable(slot, weekday))"
              >
                {{ slot }}h
              </button>
              <mat-menu #menu="matMenu">
                <p mat-menu-item><mat-icon>person</mat-icon>João Silva</p>
                <p mat-menu-item><mat-icon>add_call</mat-icon>(47)98877-6655</p>
                <p mat-menu-item>
                  <mat-icon>design_services</mat-icon>Manicure
                </p>
                <p mat-menu-item>
                  <mat-icon>calendar_month</mat-icon>25/25/2025
                </p>
                <p mat-menu-item><mat-icon>schedule</mat-icon>{{ slot }}:00</p>

                  <button mat-menu-item color="warn">
                    <mat-icon>delete</mat-icon>Excluir
                  </button>
                  <button mat-menu-item color="primary">
                    <mat-icon>edit</mat-icon>Editar
                  </button>
              </mat-menu>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</main>
