<header>
  <button mat-raised-button routerLink="/" color="accent">Início</button>
</header>
<main>
  <section>
    <div class="title">
      <!-- <img src="../../../assets/Logotype.svg" alt="Tainá Lima Nail Designer" /> -->
      <h1>Agenda da Semana</h1>
      <button mat-icon-button aria-label="Editar Semana" color="accent">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="weekdays">
      <ul class="weekday-column" *ngFor="let weekday of weekdays">
        <li>
          <h2>{{ weekday }}</h2>
          <ul class="time-column">
            <li class="time-slot" *ngFor="let slot of saturdaySlots">
              <button
                mat-raised-button
                [color]="slotIsAvailable(slot, weekday)"
                [style.color]="slotFontColor(slotIsAvailable(slot, weekday))"
                (click)="openDialog(slot, weekday)"
              >
                {{ slot }}h
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</main>
