<header>
    <button mat-raised-button [routerLink]="['']" color="accent">Início</button>
</header>
<section>
  <div class="container">
    <img src="../../../assets/Logotype.svg" alt="Tainá Lima Nail Design">
    <mat-form-field class="input">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        class="visibility-button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon class="material-symbols-rounded">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary">Entrar</button>
  </div>
</section>
