<header>
  <button mat-raised-button [routerLink]="['']" color="accent">Início</button>
</header>
<section 
[formGroup]="loginForm"
>
  <div class="container" *ngIf="!isLoading">
    <img src="../../../assets/Logotype.svg" alt="Tainá Lima Nail Design" />
    <mat-form-field class="input">
      <mat-label>Seu email</mat-label>
      <input
        matInput
        placeholder="exemplo@email.com"
        formControlName="email"
        required
      />
      <mat-error *ngIf="loginForm.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Sua senha</mat-label>
      <input
        matInput
        formControlName="password"
        required
        [type]="hide ? 'password' : 'text'"
      />
      <button
        class="visibility-button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon class="material-symbols-rounded">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password')?.invalid"
        >Senha obrigatória</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      [disabled]="loginForm.invalid"
      color="primary"
      (click)="login()"
    >
      Entrar
    </button>
    <p *ngIf="loginError.value">{{ loginError.message }}</p>
  </div>
  <div *ngIf="isLoading"><mat-spinner color="accent"></mat-spinner></div>
</section>
