<section>
  <h1 mat-dialog-title>Agendamento</h1>
  <mat-dialog-content>
    <mat-stepper orientation="vertical" [linear]="!isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Qual seu nome?</ng-template>
          <mat-form-field>
            <mat-label>Nome e Sobrenome</mat-label>
            <input
              matInput
              placeholder="Nome e Sobrenome"
              formControlName="nameCtrl"
              required
            />
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperNext color="accent">
              Próximo
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Me diga um contato</ng-template>
          <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input
              matInput
              formControlName="phoneCtrl"
              placeholder="(47)98877-6655"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious color="primary">
              Anterior
            </button>
            <button mat-raised-button matStepperNext color="accent">
              Próximo
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Escolha serviço</ng-template>
          <mat-form-field>
            <mat-label>Serviço</mat-label>
            <mat-select formControlName="serviceCtrl" required>
              <mat-option
                *ngFor="let service of services"
                [value]="service.id"
                >{{ service.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious color="primary">
              Anterior
            </button>
            <button mat-raised-button matStepperNext color="accent">
              Próximo
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Escolha uma data</ng-template>
          <mat-form-field class="mat-mdc-text-field-wrapper">
            <mat-label>Escolha uma data</mat-label>
            <input
              formControlName="dateCtrl"
              required
              matInput
              [matDatepicker]="picker"
            />
            <mat-hint>DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="
                fourthFormGroup.get('dateCtrl')?.hasError('sundayNotAvailable')
              "
            >
              Não atendo aos domingos.
            </mat-error>
            <mat-error
              *ngIf="fourthFormGroup.get('dateCtrl')?.hasError('pastDate')"
            >
              Data escolhida é passada.
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious color="primary">
              Anterior
            </button>
            <button mat-raised-button matStepperNext color="accent">
              Próximo
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup">
          <ng-template matStepLabel>Escolha um horário</ng-template>
          <mat-spinner *ngIf="timeListIsEmpty()" color="accent"></mat-spinner>

          <mat-form-field *ngIf="!timeListIsEmpty()">
            <mat-label>Horário disponível</mat-label>
            <mat-select formControlName="timeCtrl" required>
              <mat-option *ngFor="let time of timeList" [value]="time"
                >{{ time }}:00</mat-option
              >
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious color="primary">
              Anterior
            </button>
            <button
              mat-raised-button
              [disabled]="timeListIsEmpty()"
              color="accent"
              matStepperNext
              color="accent"
            >
              Próximo
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Confirmar dados</ng-template>
        <mat-list>
          <mat-list-item>Nome: </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Telefone: </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Serviço: </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Data: </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Hora: </mat-list-item>
        </mat-list>
        <div>
          <button mat-button matStepperPrevious color="primary">
            Anterior
          </button>
          <button mat-raised-button (click)="stepper.reset()" color="warn">
            Refazer
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-dialog-content>
</section>
