<section>
  <h1 mat-dialog-title>Agendamento</h1>
  <mat-dialog-content>
    <mat-stepper orientation="vertical" [linear]="!isLinear" #stepper>
      <mat-step [stepControl]="formGroup.get('nameCtrl')!">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel>Qual seu nome?</ng-template>
          <mat-form-field>
            <mat-label>Nome e Sobrenome</mat-label>
            <input
              matInput
              placeholder="Nome e Sobrenome"
              formControlName="nameCtrl"
              required
            />
          </mat-form-field>
          <div>
            <button mat-raised-button [disabled]="utils.isButtonDisabled(formGroup.get('nameCtrl')!)" matStepperNext color="accent">
              Próximo
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup.get('phoneCtrl')!">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel>Me diga um contato</ng-template>
          <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input
              matInput
              formControlName="phoneCtrl"
              placeholder="(47)98877-6655"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious color="primary">
              Anterior
            </button>
            <button mat-raised-button [disabled]="utils.isButtonDisabled(formGroup.get('phoneCtrl')!)" matStepperNext color="accent">
              Próximo
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup.get('serviceCtrl')!">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel>Escolha serviço</ng-template>
          <mat-form-field>
            <mat-label>Serviço</mat-label>
            <mat-select formControlName="serviceCtrl" required>
              <mat-option
                *ngFor="let service of utils.services"
                [value]="service.name"
                >{{ service.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious color="primary">
              Anterior
            </button>
            <button mat-raised-button [disabled]="utils.isButtonDisabled(formGroup.get('serviceCtrl')!)" matStepperNext color="accent">
              Próximo
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="formGroup.get('dateCtrl')!">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel>Escolha uma data</ng-template>
          <mat-form-field class="mat-mdc-text-field-wrapper">
            <mat-label>Escolha uma data</mat-label>
            <input
              formControlName="dateCtrl"
              required
              matInput
              [matDatepicker]="picker"
            />
            <mat-hint>DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="
                formGroup.get('dateCtrl')?.hasError('sundayNotAvailable')
              "
            >
              Não atendo aos domingos.
            </mat-error>
            <mat-error
              *ngIf="formGroup.get('dateCtrl')?.hasError('pastDate')"
            >
              Data escolhida é passada.
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious color="primary">
              Anterior
            </button>
            <button mat-raised-button [disabled]="utils.isButtonDisabled(formGroup.get('dateCtrl')!)" matStepperNext color="accent">
              Próximo
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup.get('timeCtrl')!">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel>Escolha um horário</ng-template>
          <mat-spinner *ngIf="timeListIsEmpty()" color="accent"></mat-spinner>
          <mat-form-field *ngIf="!timeListIsEmpty()">
            <mat-label>Horário disponível</mat-label>
            <mat-select formControlName="timeCtrl" required>
              <mat-option *ngFor="let time of timeList" [value]="time"
                >{{ time }}:00</mat-option
              >
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious color="primary">
              Anterior
            </button>
            <button
              mat-raised-button
              [disabled]="timeListIsEmpty() || utils.isButtonDisabled(formGroup.get('timeCtrl')!)"
              matStepperNext
              color="accent"
            >
              Próximo
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirmar dados</ng-template>
        <mat-list>
          <mat-list-item
            >Nome: <strong>{{ this.formGroup.value.nameCtrl }}</strong></mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item
            >Telefone: <strong>{{ this.formGroup.value.phoneCtrl }}</strong></mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item
            >Serviço: <strong>{{ this.formGroup.value.serviceCtrl }}</strong></mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item
            >Data:
            <strong>{{ this.formGroup.value.dateCtrl | date : 'dd/MM/yyyy' : 'GMT-3' }}
            </strong></mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item
            >Hora: <strong>{{ this.formGroup.value.timeCtrl }}h</strong></mat-list-item
          >
        </mat-list>
        <div>
          <button mat-button matStepperPrevious color="primary">
            Anterior
          </button>
          <button mat-raised-button mat-dialog-close (click)="createSchedule()" color="accent">
            Confirmar
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-dialog-content>
</section>