<div class="home-container">
  <aside>
    <div class="aside-group">
      <img
        class="logo"
        src="../../../assets/Logo.png"
        alt="Tainá Lima: Nail Design"
      />
      <div class="buttons-list">
        <a class="button home item-group" href="#">Home</a>
        <a class="button phone item-group" href="#">Fale Comigo</a>
        <a class="button local item-group" href="#">Onde Me encontrar</a>
      </div>
    </div>
    <a class="button admin" href="#">Admin</a>
  </aside>
  <div class="home-content">
    <div class="first-container">
      <h1 class="title">Beleza e elegância começando pelas mãos.</h1>
      <a href="#" class="instagram">Acompanhe meu trabalho</a>
    </div>
    <app-smart-container></app-smart-container>
  </div>
</div>
