<app-header></app-header>
<main>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Contatos"
    class="menu-button"
  >
    <mat-icon>maps_ugc</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="https://wa.me/5547991936313">
      <span>Abrir no Whatsapp</span>
      <mat-icon>arrow_outward</mat-icon>
    </a>
    
    <!-- <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button> -->
  </mat-menu>

  <section class="first-container">
    <H1>Beleza e elegância começando pelas mãos.</H1>
    <a
      mat-flat-button
      color="accent"
      href="https://www.instagram.com/tainalima.nails/"
      >Acompanhe meu trabalho</a
    >
  </section>
  <section class="second-container">
    <img src="../../../assets/Taina.png" alt="Tainá Lima" />
    <div>
      <h2>
        Meu foco é unir estética e saúde, utilizando produtos de alta qualidade
        e protocolos de higiene rigorosos para garantir um resultado impecável,
        natural e duradouro.
        <br />Agende seu horário e descubra a resistência e a beleza que suas
        unhas podem ter:
      </h2>
      <button mat-flat-button color="accent" (click)="openDialog()">
        Agendar horário
      </button>
    </div>
  </section>
  <section class="third-container">
    <div>
      <h2>Excelência Técnica e Humana</h2>
      <mat-list class="list">
        <mat-list-item>
          <span matListItemTitle>Qualidade dos Produtos</span>
          <span matListItemLine
            >Utiliza esmaltes, géis e preparadores de marcas confiáveis, que
            garantem beleza e durabilidade.</span
          >
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Consultoria Profissional</span>
          <span matListItemLine
            >Oferece sugestões de cores, formatos e técnicas que valorizam as
            mãos da cliente, mas sem ser insistente..</span
          >
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Orientações de Cuidado</span>
          <span matListItemLine
            >Ensina a cliente como cuidar das unhas em casa para maximizar a
            durabilidade do procedimento.</span
          >
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Delicadeza em cada toque</span>
          <span matListItemLine
            >Realiza o procedimento com delicadeza, precisão e cuidado, evitando
            machucar as cutículas ou causar desconforto.
          </span>
        </mat-list-item>
      </mat-list>
    </div>
    <img src="../../../assets/ListImg.jpg" alt="" />
  </section>
</main>
<app-footer></app-footer>
