@import "../../pages/home/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient($first-color, $second-color);
  border-radius: $border-radius;
  margin: 1em 0;
  width: 79vw;
  height: auto;
  min-height: 20vh;
  padding: 1em 0;
  transition: 0.5s;

  .material-symbols-rounded {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-variation-settings: "OPSZ" 30, "FILL" 0, "wght" 400, "GRAD" 0;
  }

  .form-last {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $dark-color;
    border-radius: $border-radius;
    margin-bottom: 1em;
    width: 35vw;
    height: 45vh;

    label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 1.5em;
      font-family: $font-family;
      width: 90%;

      .input {
        border-radius: $border-radius;
        background-color: $first-color;
        color: $dark-color;
        font-family: $font-family;
        text-align: center;
        width: 40%;
        border: 0;
        font-size: 1em;
        line-height: 1.5em;
        padding: 0.25em 1em;
      }
    }
    button {
      border-radius: $border-radius;
      background-color: $first-color;
      color: $dark-color;
      font-family: $font-family;
      border: 0;
      font-size: 1.5em;
      line-height: 2em;
      padding: 1.2em 0;
      width: 28vw;
    }
    button:hover {
      color: $second-color;
      background-color: $third-color;
      transition: 0.1s;
    }
    .return-button {
      border: 0;
      border-radius: $border-radius;
      background-color: $dark-color;
      font-family: $font-family;
      color: white;
      font-size: 1.5em;
      padding: 1.5em 10em;

      .material-symbols-rounded {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-variation-settings: "OPSZ" 30, "FILL" 0, "wght" 400, "GRAD" 0;
      }
    }
  }

  .first-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .schedule-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      background-image: url("../../../assets/Agenda.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: $border-radius;
      padding: 2em;

      p {
        color: $dark-color;
      }
    }

    .material-symbols-rounded {
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-variation-settings: "OPSZ" 30, "FILL" 0, "wght" 400, "GRAD" 0;
    }
  }

  h2 {
    text-align: center;
    font-size: 1.5em;
    color: $dark-color;
  }

  .schedule-start {
    border-radius: $border-radius;
    background-color: $dark-color;
    border: 0;
    color: white;
    font-size: 1.5em;
    font-family: $font-family;
    width: 28vw;
    height: 3em;
    padding: 0.2em 2em;
  }

  .list {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 0;

    .item-list {
      border-radius: $border-radius;
      background-color: $dark-color;
      font-family: $font-family;
      color: white;
      font-size: 1.2em;
      height: 4em;
      width: 100%;
      border: 0;
    }
  }

  .return-button {
    border: 0;
    border-radius: $border-radius;
    background-color: $dark-color;
    font-family: $font-family;
    color: white;
    font-size: 1.5em;
    padding: 1.5em 10em;

    .material-symbols-rounded {
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-variation-settings: "OPSZ" 30, "FILL" 0, "wght" 400, "GRAD" 0;
    }
  }

  .form-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 20vw;
    margin-bottom: 1em;
    background-color: $dark-color;
    border-radius: $border-radius;
    padding: 1em;

    h3 {
      font-size: 1.5em;
      font-weight: normal;
      color: $first-color;
      margin: 0;
    }

    .input-date {
      border-radius: $border-radius;
      background-color: $first-color;
      color: $dark-color;
      border: 0;
      font-size: 1.5em;
      line-height: 2em;
      width: 10vw;
      padding: 0.2em 2em;
    }
    .confirm-date {
      border-radius: $border-radius;
      background-color: $first-color;
      font-family: $font-family;
      color: $dark-color;
      padding: 1em;
      font-size: 1.5em;
      line-height: 2em;
      width: 15vw;
    }
    .confirm-date:hover {
      transition: 0.1s;
      color: $second-color;
      background-color: $third-color;
    }
  }
}
.container-timelist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient($first-color, $second-color);
  border-radius: $border-radius;
  margin: 1em 0;
  width: 79vw;
  height: auto;
  min-height: 20vh;
  padding: 1em 0;

  .return-button {
    border: 0;
    border-radius: $border-radius;
    background-color: $dark-color;
    font-family: $font-family;
    color: white;
    font-size: 1.5em;
    padding: 1.5em 10em;

    .material-symbols-rounded {
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-variation-settings: "OPSZ" 30, "FILL" 0, "wght" 400, "GRAD" 0;
    }
  }

  h2 {
    font-size: 1.5em;
    color: $dark-color;
  }
  .form-timelist {
    background-color: $dark-color;
    border-radius: $border-radius;
    width: 25vw;
    height: auto;
    min-height: 8vh;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    row-gap: 0.8em;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
    margin-bottom: 1em;

    .time-button {
      background-color: $first-color;
      color: $dark-color;
      border-radius: $border-radius;
      font-family: $font-family;
      min-height: 3em;
      width: 100%;
      font-size: 1.2em;
      font-weight: bold;
      padding: 0.5em;
      border: 0;
    }
    .time-button:hover {
      transition: 0.1s;
      color: $second-color;
      background-color: $third-color;
    }
  }
}

@media (max-width: 768px) {
  .container {
    text-align: center;
    border-radius: $border-radius;
    margin: 1em 0;
    width: 100vw;

    .form-last {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: $dark-color;
      border-radius: $border-radius;
      margin-bottom: 1em;
      width: 90vw;
      height: 70vh;
      gap: 0;
      padding: 1em 0;

      label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 1.5em;
        font-family: $font-family;
        width: 90%;
        gap: 0.5em;

        .input {
          border-radius: $border-radius;
          background-color: $first-color;
          color: $dark-color;
          font-family: $font-family;
          text-align: center;
          width: 80%;
          border: 0;
          font-size: 1em;
          line-height: 1.5em;
          padding: 0.25em 1em;
        }
      }
      button {
        border-radius: $border-radius;
        background-color: $first-color;
        color: $dark-color;
        font-family: $font-family;
        margin-top: 1.5em;
        border: 0;
        font-size: 1.5em;
        line-height: 1.6em;
        width: 85vw;
        height: fit-content;
        padding: 0.5em 0.2em;
      }
      .material-symbols-rounded {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 30px;
        font-variation-settings: "OPSZ" 30, "FILL" 0, "wght" 400, "GRAD" 0;
      }

      button:hover {
        color: $second-color;
        transition: 0.2s;
        width: 0;
        height: 0;
      }
    }

    .first-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 60vh;
      width: 100%;

      .schedule-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-image: url("../../../assets/Agenda.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: $border-radius;
        padding: 1em;
        height: 30vh;
        width: 85vw;

        p {
          color: $dark-color;
        }
      }
      .material-symbols-rounded {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-variation-settings: "OPSZ" 30, "FILL" 0, "wght" 400, "GRAD" 0;
      }
    }

    h2 {
      font-size: 1.5em;
    }

    .schedule-start {
      font-size: 1em;
      width: 90vw;
    }
    .list {
      font-family: $font-family;

      .item-list {
        font-family: $font-family;
        border-radius: 25px;
        font-size: 0.9em;
        font-weight: normal;
        height: 7em;
        padding: 0.1;
      }
    }

    .return-button {
      border: 0;
      font-family: $font-family;
      border-radius: $border-radius;
      background-color: $dark-color;
      color: white;
      width: 90vw;
      height: fit-content;
      padding: 0.7em 0;
      font-size: 1em;
    }
    .material-symbols-rounded {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      font-variation-settings: "OPSZ" 50, "FILL" 0, "wght" 400, "GRAD" 0;
    }

    .form-date {
      font-family: $font-family;
      gap: 1em;
      width: 90vw;
      margin-bottom: 1em;
      padding: 1em;

      h3 {
        font-size: 1.5em;
        margin: 0;
      }

      .input-date {
        font-size: 1.2em;
        font-weight: normal;
        line-height: 2em;
        width: 35vw;
        padding: 0.5em 1em;
      }
      .confirm-date {
        font-family: $font-family;
        padding: 1em 0;
        width: 46vw;
      }
    }
  }
  .container-timelist {
    font-family: $font-family;
    width: 100vw;
    height: auto;
    min-height: 30vh;
    text-align: center;

    h2 {
      font-size: 1.5em;
    }
    .form-timelist {
      width: 95vw;
      min-height: 10vh;
      max-height: 40vh;

      .time-button {
        font-size: 1.2em;
      }
    }
    .return-button {
      border: 0;
      font-family: $font-family;
      border-radius: $border-radius;
      background-color: $dark-color;
      color: white;
      width: 90vw;
      height: fit-content;
      padding: 0.7em 0;
      font-size: 1em;
    }
    .material-symbols-rounded {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      font-variation-settings: "OPSZ" 50, "FILL" 0, "wght" 400, "GRAD" 0;
    }
  }
}
