@import "../../pages/home/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient($first-color, $second-color);
  border-radius: $border-radius;
  margin: 1em 0;
  width: 79vw;
  height: auto;
  min-height: 20vh;
  padding: 1em 0;

  .first-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .agenda {
      display: flex;
      height: 30vh;
      border-radius: $border-radius;
    }
  }

  h2 {
    text-align: center;
    font-size: 1.5em;
    color: $dark-color;
  }

  .schedule-start {
    border-radius: $border-radius;
    background-color: $dark-color;
    border: 0;
    color: white;
    font-size: 1.5em;
    font-family: $font-family;
    width: 25vw;
    height: 3em;
    padding: 0.2em 2em;
  }
  .schedule-start:hover {
    height: 2.9em;
    width: 23vw;
    color: $first-color;
    transition: 0.2s;
  }
  .list {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 0;

    .item-list {
      border-radius: $border-radius;
      background-color: $dark-color;
      color: white;
      font-size: 1.1em;
      height: 4em;
      width: 100%;
      border: 0;
    }
    .item-list:hover {
      height: 3.7em;
      width: 99.5%;
      color: $first-color;
      transition: 0.2s;
    }
  }

  .return-button {
    border: 0;
    border-radius: $border-radius;
    background-color: $dark-color;
    color: white;
    width: 22%;
    height: 3em;
    font-size: 1.1em;
  }
  .return-button:hover {
    color: $first-color;
    transition: 0.2s;
    width: 25%;
  }

  .form-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 20vw;
    margin-bottom: 1em;
    background-color: $dark-color;
    border-radius: $border-radius;
    padding: 1em;

    h3 {
      font-size: 1.5em;
      font-weight: normal;
      color: $first-color;
      margin: 0;
    }

    .input-date {
      border-radius: $border-radius;
      background-color: $first-color;
      color: $dark-color;
      border: 0;
      font-size: 1.5em;
      line-height: 2em;
      width: 10vw;
      padding: 0.2em 2em;
    }
    .confirm-date {
      border-radius: $border-radius;
      background-color: $first-color;
      color: $dark-color;
      border: 0;
      font-size: 1.5em;
      line-height: 2em;
      width: 15vw;
    }
    .confirm-date:hover {
      color: $second-color;
      transition: 0.2s;
      width: 14vw;
    }
  }
}
.container-timelist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient($first-color, $second-color);
  border-radius: $border-radius;
  margin: 1em 0;
  width: 79vw;
  height: auto;
  min-height: 20vh;
  padding: 1em 0;

  .return-button {
    border-radius: $border-radius;
    background-color: $dark-color;
    color: white;
    width: 22%;
    height: 3em;
    font-size: 1.1em;
    margin-top: 1em;
    border: 0;
  }
  .return-button:hover {
    color: $first-color;
    transition: 0.2s;
    width: 25%;
  }
  h2 {
    font-size: 1.5em;
    color: $dark-color;
  }
  .form-timelist {
    background-color: $dark-color;
    border-radius: $border-radius;
    width: 25vw;
    height: 8vh;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    justify-content: space-evenly;
    align-items: center;

    .time-button {
      background-color: $first-color;
      color: $dark-color;
      border-radius: $border-radius;
      font-family: $font-family;
      height: 70%;
      width: 100%;
      font-size: 1.2em;
      font-weight: bold;
      padding: 0.5em;
      border: 0;
    }

    .time-button:hover {
      color: $second-color;
      transition: 0.2s;
      width: 95%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    text-align: center;
    border-radius: $border-radius;
    margin: 1em 0;
    width: 100vw;

    .first-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 50vh;
      width: 100%;

      .agenda {
        display: flex;
        height: 24vh;
        border-radius: $border-radius;
      }
    }

    h2 {
      font-size: 1.5em;
    }

    .schedule-start {
      font-size: 1.2em;
      width: 90vw;
    }
    .list {
      font-family: $font-family;
      .item-list {
        font-family: $font-family;
        border-radius: 30px;
        font-size: 1em;
        font-weight: normal;
        height: 5.5em;
        padding: 0.1;
      }
    }

    .return-button {
      border: 0;
      font-family: $font-family;
      border-radius: $border-radius;
      background-color: $dark-color;
      color: white;
      width: 22%;
      height: 3em;
      font-size: 1.1em;
    }

    .form-date {
      font-family: $font-family;
      gap: 1em;
      width: 90vw;
      margin-bottom: 1em;
      padding: 1em;

      h3 {
        font-size: 1.5em;
        margin: 0;
      }

      .input-date {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 2em;
        width: 35vw;
        padding: 0.5em 1em;
      }
      .confirm-date {
        font-family: $font-family;
        padding: 0 1em;
        width: 46vw;
      }
    }
  }
  .container-timelist {
    font-family: $font-family;
    width: 100vw;
    height: auto;
    min-height: 30vh;
    text-align: center;

    h2 {
      font-size: 1.5em;
    }
    .form-timelist {
      width: 95vw;
      min-height: 10vh;
      max-height: 40vh;

      .time-button {
        font-size: 1.2em;
      }
    }
  }
}
