<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"
  rel="stylesheet"
/>
<div [ngSwitch]="mainView">
  <section *ngSwitchCase="'firstView'" class="container">
    <div class="first-container">
      <form>
        <h2>Agende seu atendimento comigo.</h2>
        <button
          mat-flat-button
          color="accent"
          class="schedule-start"
          (click)="showServices()"
          type="button"
        >
          <mat-icon class="material-symbols-rounded">edit_calendar</mat-icon>Que
          tipo de serviço você deseja?
        </button>
      </form>
      <img
        class="agenda"
        src="../../../assets/Agenda.png"
        alt="Agende seu atendimento comigo!"
      />
    </div>
  </section>

  <section *ngSwitchCase="'serviceList'" class="container">
    <form action="">
      <ol class="list">
        <button
          mat-flat-button
          color="primary"
          class="item-list"
          (click)="selectService(service)"
          type="button"
          *ngFor="let service of services"
        >
          {{ service.name }}
        </button>
      </ol>
    </form>
    <button
      mat-flat-button
      color="primary"
      class="return-button"
      (click)="returnFirstView()"
      type="button"
    >
      <mat-icon class="material-symbols-rounded">arrow_back</mat-icon>
      Voltar
    </button>
  </section>

  <section *ngSwitchCase="'dateSelection'" class="container">
    <h2>Escolha um dia do seu agrado para realizar seu atendimento.</h2>
    <form action="" class="form-date">
      <h3>Selecione uma data:</h3>
      <input
        class="input-date"
        type="date"
        name="date"
        id="date"
        #dateinput
        required
      />
      <button
        mat-flat-button
        color="accent"
        class="confirm-date"
        (click)="showTimeSelection()"
        type="button"
      >
        Confirmar
      </button>
    </form>
    <button
      mat-flat-button
      color="primary"
      class="return-button"
      type="button"
      (click)="showServices()"
    >
      <mat-icon class="material-symbols-rounded">arrow_back</mat-icon>
      Voltar
    </button>
  </section>

  <section class="container-timelist" *ngSwitchCase="'timeSelection'">
    <h2>Confira os horários disponíveis para esse dia:</h2>
    <form action="" class="form-timelist">
      <button
        mat-flat-button
        class="time-button"
        type="button"
        (click)="selectedTime(time)"
        *ngFor="let time of timeList"
        #timeinput
      >
        {{ time }}h
      </button>
    </form>
    <button
      mat-flat-button
      color="primary"
      class="return-button"
      type="button"
      (click)="showDateSelection()"
    >
      <mat-icon class="material-symbols-rounded">arrow_back</mat-icon>
      Voltar
    </button>
  </section>
  <section class="container" *ngSwitchCase="'confirmSchedule'">
    <h2>Para finalizar o agendamento preencha e confirme os campos abaixo:</h2>
    <form class="form-last">
      <label
        >Primeiro e Último Nome:
        <input type="text" class="input" #nameinput required />
      </label>
      <label
        >Telefone:
        <input type="text" class="input" #phoneinput required />
      </label>
      <label
        >Serviço escolhido:
        <input
          type="text"
          class="input"
          [value]="selectedService?.name"
          readonly
        />
      </label>
      <label
        >Horário escolhido:
        <input
          type="text"
          class="input"
          [value]="inputedTime?.toString() + ':00'"
          readonly
        />
      </label>
      <label
        >Dia escolhido:
        <input
          type="date"
          class="input"
          [value]="inputedDate | date : 'yyyy-MM-dd'"
          readonly
        />
      </label>
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="confirmSchedule()"
      >
        <mat-icon class="material-symbols-rounded">event_available</mat-icon>
        Confirmar agendamento
      </button>
    </form>
    <button
      type="button"
      mat-flat-button
      color="primary"
      class="return-button"
      (click)="returnTimeSelection()"
    >
      <mat-icon class="material-symbols-rounded">arrow_back</mat-icon>Voltar
    </button>
  </section>
</div>
