<div [ngSwitch]="mainView">
  <section *ngSwitchCase="'firstView'" class="container">
    <div class="first-container">
      <form>
        <h2>Agende seu atendimento comigo.</h2>
        <button class="schedule-start" (click)="showServices()">
          Que tipo de serviço você deseja?
        </button>
      </form>
      <img
        class="agenda"
        src="../../../assets/Agenda.png"
        alt="Agende seu atendimento comigo!"
      />
    </div>
  </section>

  <section *ngSwitchCase="'serviceList'" class="container">
    <form action="">
      <ol class="list">
        <button
          class="item-list"
          (click)="selectService(service)"
          *ngFor="let service of services"
        >
          {{ service.name }}
        </button>
      </ol>
    </form>
    <button class="return-button" (click)="returnFirstView()">Voltar</button>
  </section>

  <section *ngSwitchCase="'dateSelection'" class="container">
    <h2>Escolha um dia do seu agrado para realizar seu atendimento.</h2>
    <form action="" class="form-date">
      <h3>Selecione uma data:</h3>
      <input
        class="input-date"
        type="date"
        name="date"
        id="date"
        #dateinput
        required
      />
      <button class="confirm-date" (click)="showTimeSelection()">
        Confirmar
      </button>
    </form>
    <button class="return-button" (click)="showServices()">Voltar</button>
  </section>

  <section class="container-timelist" *ngSwitchCase="'timeSelection'">
    <h2>Confira os horários disponíveis para esse dia:</h2>
    <form action="" class="form-timelist">
      <button class="time-button" (click)="showConfirmSchedule()" *ngFor="let time of timeList">
        {{ time }}h
      </button>
    </form>
    <button class="return-button" (click)="showDateSelection()">Voltar</button>
  </section>
  <section class="container" *ngSwitchCase="'confirmSchedule'">
    <h2>Para finalizar o agendamento preencha e confirme os campos abaixo:</h2>
    <form class="form-last">
      <label
        >Primeiro e Último Nome:
        <input type="text" class="input" />
      </label>
      <label
        >Telefone:
        <input type="text" class="input" />
      </label>
      <label
        >Serviço escolhido:
        <input type="text" class="input" readonly />
      </label>
      <label
        >Horário escolhido:
        <input type="time" class="input" readonly />
      </label>
      <label
        >Dia escolhido:
        <input type="date" class="input" readonly />
      </label>
      <button>Confirmar agendamento</button>
    </form>
    <button class="return-button" (click)="returnTimeSelection()">Voltar</button>
  </section>
</div>
