@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tilt+Neon&family=Waterfall&display=swap");

@media (min-width: 769px) and (max-width: 1025px) {
  :root {
    --titleSize: 1.7em;
    --containerFontSize: 1.7em;
    --lateralFontSize: 1.3em;
    --extraBigSize: 6.1em;
    --titleWeight: 400;
    --extraWeight: 550;
    --containerMargin: 0 0 0 0;
    --elementMargin: 0 5%;
    --containerWidth: 73.55vw;
    --containerMinHeight: 0px;
    --buttonWidth: 23vw;
    --buttonHeight: 4vh;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
  }
  body {
    background: var(--mainColor);
    height: auto;
    width: 100vw;
    display: flex;
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: auto;
    padding-left: 0;
  }
  .lateral {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    background-color: var(--thirdColor);
    height: 100vh;
    width: 25vw;
    min-width: 256px;
    position: fixed;
  }
  .lateral__icon {
    height: 1em;
  }
  .lateral__links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    height: 100vh;
    margin: 2vh 0.4vw 0% 0.2vw;
    gap: 1.5em;
  }
  .links__link {
    text-decoration: none;
    color: var(--mainColor);
    font-size: var(--lateralFontSize);
    font-weight: var(--titleWeight);
  }
  .links__link:hover {
    color: white;
  }
  .links__link__destaque {
    color: white;
    text-decoration: none;
    font-size: var(--lateralFontSize);
  }
  .links__link__destaque:hover {
    color: var(--mainColor);
  }
  .lateral__titulo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    color: var(--mainColor);
    font-weight: var(--titleWeight);
    margin: 0 0 1vh 0.5vw;
    font-size: var(--lateralFontSize);
  }
  .lateral__titulo__destacar {
    color: var(--secondColor);
  }
  .lateral__logo {
    width: 100%;
  }

  .primeiro {
    background-image: url(../assets/BackgroundImage.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;
    min-height: var(--containerMinHeight);
    width: var(--containerWidth);
    margin: var(--containerMargin);
    gap: 2em;
  }
  .icon__instagram {
    height: 1.2em;
  }

  .primeiro__titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 70%;
    font-family: var(--fontCaligraphy);
    color: var(--thirdColor);
    font-size: var(--extraBigSize);
    font-weight: var(--extraWeight);
  }
  .primeiro__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--thirdColor);
    color: var(--mainColor);
    font-size: var(--titleSize);
    font-weight: var(--titleWeight);
    width: 50vw;
    height: 5vh;
    border-radius: 40em;
    gap: 1vw;
    text-decoration: none;
  }
  .primeiro__botao:hover {
    background-color: var(--secondColor);
    color: white;
    font-weight: 500;
  }
  .segundo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--secondColor);
    height: 25vh;
    width: var(--containerWidth);
    margin: var(--containerMargin);
  }
  .container__titulo {
    color: var(--thirdColor);
    font-size: var(--containerFontSize);
    font-weight: var(--titleWeight);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: var(--elementMargin);
  }
  .segundo__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vw;
    height: 20vh;
    background-color: var(--thirdColor);
    border-radius: 40px;
    padding: 1em 0 1em 0;
    margin: var(--elementMargin);
  }
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 0vw;
    height: 20vh;
    gap: 1em;
  }
  .formulario__linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    gap: 2em;
  }
  .formulario__linha__coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 25rem;
    gap: 1em;
  }
  .formulario__coluna__titulo {
    color: white;
    font-size: var(--containerFontSize);
    font-weight: var(--titleWeight);
    width: 90%;
    text-align: center;
  }
  .formulario__linha__input {
    background-color: var(--mainColor);
    color: var(--thirdColor);
    font-size: var(--titleSize);
    line-height: var(--titleSize);
    font-weight: var(--titleWeight);
    text-align: center;
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    border-radius: 40px;
    padding: 0 0.5em;
  }
  .formulario__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--mainColor);
    color: var(--thirdColor);
    font-size: var(--titleSize);
    font-weight: var(--titleWeight);
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    border-radius: 40px;
    margin: 0;
    text-decoration: none;
  }
  .formulario__botao:hover {
    background-color: var(--secondColor);
    color: white;
    font-weight: 500;
  }
  .terceiro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--mainColor);
    height: 27vh;
    width: var(--containerWidth);
    margin: var(--containerMargin);
  }
  .terceiro__tabela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 19vw;
    height: 25vh;
    background-color: var(--thirdColor);
    border-radius: 40px;
    padding: 1em 0 1em 0;
    gap: 0.5em;
    margin: var(--elementMargin);
  }
  .horarios {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
    width: 70%;
  }
  .horarios__texto {
    color: white;
    font-size: var(--titleSize);
    font-weight: var(--titleWeight);
    text-align: center;
    width: 100%;
  }
  .quarto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--secondColor);
    height: 35vh;
    width: var(--containerWidth);
    margin: var(--containerMargin);
  }
  .formulario__agendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1.5em 2em;
    height: 32vh;
  }
  .quarto__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 22vw;
    height: 35vh;
    background-color: var(--thirdColor);
    border-radius: 20px;
    margin: var(--elementMargin);
  }
  .quarto__form__colunas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4em;
    width: 22vw;
  }
  .quarto__form__linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: auto;
    gap: 0em;
  }
  .formulario__linha__titulo {
    color: white;
    font-size: var(--containerFontSize);
    font-weight: var(--titleWeight);
    width: 5em;
    text-align: left;
  }
  .quarto__form__input {
    background-color: var(--mainColor);
    color: var(--thirdColor);
    font-size: var(--titleSize);
    line-height: var(--titleSize);
    font-weight: var(--titleWeight);
    width: var(--buttonWidth);
    text-align: center;
    border-radius: 40px;
    padding: 0 0.5em;
  }
  .selecione__botao {
    width: var(--buttonWidth);
    height: var(--buttonHeight);
  }
  .item_botao {
    height: 4em;
  }
  .lista__servicos.show {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    list-style: none;
    place-items: center;
    position: absolute;
    width: var(--containerWidth);
    height: 85vh;
    gap: 5px;
    background-color: var(--thirdColor);
    padding: 20px;
    border: 3px solid var(--mainColor);
    border-radius: 40px;
  }
  .servico {
    width: 100%;
    height: 5.5em;
    padding: 10px;
    font-size: 1.7rem;
    border-radius: 30px;
  }
}
