@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tilt+Neon&family=Waterfall&display=swap");

@media (min-aspect-ratio: 16/8) {
  :root {
    --titleSize: 1rem;
    --containerFontSize: 1rem;
    --lateralFontSize: 1rem;
    --extraBigSize: 4rem;
    --titleWeight: 400;
    --extraWeight: 550;
    --containerMargin: 0 0 0 19.2vw;
    --elementMargin: 0 10% 0 10%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
  }
  body {
    background: var(--mainColor);
    height: auto;
    display: flex;
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .lateral {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    background-color: var(--thirdColor);
    height: 100vh;
    width: 20vw;
    position: fixed;
  }
  .lateral__icon{
    height: 3vh;
  }
  .lateral__links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    height: 100vh;
    margin: 2vh 0.4vw 0% 0.4vw;
    gap: 1em;
  }
  .links__link {
    text-decoration: none;
    color: var(--mainColor);
    font-size: var(--lateralFontSize);
    font-weight: var(--titleWeight);
  }
  .links__link:hover {
    color: white;
  }
  .links__link__destaque {
    color: white;
    text-decoration: none;
    font-size: var(--lateralFontSize);
  }
  .links__link__destaque:hover {
    color: var(--mainColor);
  }
  .lateral__titulo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    color: var(--mainColor);
    font-weight: var(--titleWeight);
    margin: 0 0 1vh 0.5vw;
    font-size: var(--lateralFontSize);
  }
  .lateral__titulo__destacar {
    color: var(--secondColor);
  }
  .lateral__logo {
    width: 100%;
  }

  .primeiro {
    background-image: url(../assets/BackgroundImage.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    width: 80vw;
    margin: var(--containerMargin);
    gap: 2em;
  }
  .icon__instagram{
    height: 1.2em;
  }

  .primeiro__titulo {
    display: flex;
    justify-content: center;
    text-align: canter;
    align-items: center;
    width: 70%;
    font-family: var(--fontCaligraphy);
    color: var(--thirdColor);
    font-size: var(--extraBigSize);
    font-weight: var(--extraWeight);
  }
  .primeiro__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--thirdColor);
    color: var(--mainColor);
    font-size: var(--titleSize);
    font-weight: var(--titleWeight);
    width: 50vw;
    height: 10%;
    border-radius: 40em;
    gap: 1vw;
    text-decoration: none;
  }
  .primeiro__botao:hover {
    background-color: var(--secondColor);
    color: white;
    font-weight: 500;
  }
  .segundo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--secondColor);
    height: 35vh;
    width: 80vw;
    margin: var(--containerMargin);
  }
  .container__titulo {
    color: var(--thirdColor);
    font-size: var(--containerFontSize);
    font-weight: var(--titleWeight);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: var(--elementMargin);
  }
  .segundo__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25vw;
    background-color: var(--thirdColor);
    border-radius: 20px;
    padding: 1em 0 1em 0;
    margin: var(--elementMargin);
  }
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 0vw;
    height: 20vh;
    gap: 1em;
  }
  .formulario__linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    gap: 2em;
  }
  .formulario__linha__coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 25rem;
    gap: 1em;
  }
  .formulario__coluna__titulo {
    color: white;
    font-size: var(--containerFontSize);
    font-weight: var(--titleWeight);
    width: 25rem;
    text-align: center;
  }
  .formulario__linha__input {
    background-color: var(--mainColor);
    color: var(--thirdColor);
    font-size: var(--titleSize);
    line-height: var(--titleSize);
    font-weight: var(--titleWeight);
    text-align: center;
    width: 16vw;
    height: 1.5em;
    border-radius: 40px;
    padding: 0 0.5em;
  }
  .formulario__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--mainColor);
    color: var(--thirdColor);
    font-size: var(--titleSize);
    font-weight: var(--titleWeight);
    width: 16vw;
    height: 5vh;
    border-radius: 40px;
    margin: 0;
    text-decoration: none;
  }
  .formulario__botao:hover {
    background-color: var(--secondColor);
    color: white;
    font-weight: 500;
  }
  .terceiro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--mainColor);
    height: 40vh;
    width: 80vw;
    margin: var(--containerMargin);
  }
  .terceiro__tabela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 19vw;
    height: 35vh;
    background-color: var(--thirdColor);
    border-radius: 20px;
    padding: 1em 0 1em 0;
    gap: 0.5em;
    margin: var(--elementMargin);
  }
  .horarios {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
    width: 70%;
  }
  .horarios__texto {
    color: white;
    font-size: var(--titleSize);
    font-weight: var(--titleWeight);
    text-align: center;
    width: 100%;
  }
  .quarto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--secondColor);
    height: 50vh;
    width: 80vw;
    margin: var(--containerMargin);
  }
  .formulario__agendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1.5em 2em;
  }
  .quarto__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 25vw;
    height: 40vh;
    background-color: var(--thirdColor);
    border-radius: 20px;
    margin: var(--elementMargin);
  }
  .quarto__form__colunas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4em;
    width: 22vw;
  }
  .quarto__form__linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: auto;
    gap: 0em;
  }
  .formulario__linha__titulo {
    color: white;
    font-size: var(--containerFontSize);
    font-weight: var(--titleWeight);
    width: 5em;
    text-align: left;
  }
  .quarto__form__input {
    background-color: var(--mainColor);
    color: var(--thirdColor);
    font-size: var(--titleSize);
    line-height: var(--titleSize);
    font-weight: var(--titleWeight);
    width: 13vw;
    text-align: center;
    border-radius: 40px;
    padding: 0 0.5em;
  }
}
