<footer>
  <div class="logotype">
    <img src="../../../assets/Logotype.svg" alt="Tainá Lima Nail Desing" />
    <p>Beleza e elegância comçando pelas mãos.</p>
  </div>
  <div class="row">
    <section class="button-list">
      <h3>Links</h3>
      <a mat-button color="accent" href="https://wa.me/5547991936313"
        >Whatsapp</a
      >
      <a
        mat-button
        color="accent"
        href="https://maps.app.goo.gl/j3BqH7thh6B3jhiB9"
        >Endereço</a
      >
      <a
        mat-button
        color="accent"
        href="https://www.instagram.com/tainalima.nails/"
        >Instagram</a
      >
    </section>
    <section class="button-list">
      <h3>Acesso Rápido</h3>
      <button mat-button color="accent">Início</button>
      <button mat-button color="accent" (click)="openDialog()">Agendar</button>
      <button mat-button color="accent" routerLink="/login">Login</button>
    </section>
  </div>
  <section class="button-list">
    <h3>Informações</h3>
    <p>
      Rua Donato Corrêa, 180-Ap 13<br />
      Passo Manso, Blumenau-SC
    </p>
    <p>Whatsapp: (47)99193-6313</p>
  </section>
</footer>
