<footer>
  <div class="logotype">
    <img src="../../../assets/Logotype.svg" alt="Tainá Lima Nail Desing" />
    <p>Beleza e elegância comçando pelas mãos.</p>
  </div>
  <section class="button-list">
    <h3>Links</h3>
    <button mat-button color="accent">Whatsapp</button>
    <button mat-button color="accent">Endereço</button>
    <button mat-button color="accent">Instagram</button>
  </section>
  <section class="button-list">
    <h3>Acesso Rápido</h3>
    <button mat-button color="accent">Início</button>
    <button mat-button color="accent">Agendar</button>
    <button mat-button color="accent">Login</button>
  </section>
  <section class="button-list">
    <h3>Informações</h3>
    <p>
      Rua Donato Corrêa, 180-Ap 13<br />
      Passo Manso, Blumenau-SC
    </p>
    <p>Whatsapp: (47)99193-6313</p>
  </section>
</footer>