@import "../../pages/home/styles/variables.scss";

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  padding: 1em 3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.751);

  .logotype {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    img {
      height: 100px;
    }
    p {
      font-family: $font-caligraphy;
      font-size: 2.5em;
      color: $dark-color;
      text-align: center;
      margin: 0;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    width: auto;
    padding: 10px;
  }
  .button-list {
    text-align: center;
    border-left: none;
    .dev-link {
      .dev-img {
        display: block;
        height: 1.5em;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 1em;

    .logotype {
      gap: 0;
      img {
        height: auto;
        width: 80vw;
      }
      p {
        font-size: 2.2em;
      }
    }

    .button-list {
      border-left: none;
      width: 100%;
      align-items: center;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;

    .button-list {
      padding: 1em;
      padding-top: 0;
      border-left: 1px solid $dark-color;
      align-items: start;
    }
  }
}
